*
*/
!README.md
!.gitignore
!.git/

#!vim/
!nvim/
!nvim/*

# Ricing
!i3/
!i3status/

!rofi/
!fehbg
!bg
!compton.conf
!conky.conf
!tint2/


# zshrc
!.zshrc
!*.zsh-theme

# Terminal
!termite/
!kitty/

# Custom scripts
!keyboard_layout/
!install.sh
!pacp.sh
